@using Pulsa.ViewModel;
@{
    Layout = "_UserLayout";
    var listProduk = (List<CariProdukDTO>)ViewBag.listProduk;
    var rekomendasi = "Rekomendasi harga";
}
<br />

<div class="mt-4">
    <div class="flex flex-col p-4 bg-white rounded-lg shadow-md">
        <div class="flex flex-between justify-start items-center border-b-2 py-2 font-medium text-slate-800 tracking-wide text-sm">
            <div class="w-full font-bold">
                Tujuan
            </div>
            <div class="font-bold">
                <input type="text" class="form" value="@ViewBag.dest" id="dest" readonly />
                
            </div>
        </div>
        <div class="flex flex-between justify-start items-center border-b-2 py-2 font-medium text-slate-800 tracking-wide text-sm">
            <div class="w-full font-bold">
                Produk
            </div>
            <div class="font-bold">
                @ViewBag.produk
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <div class="flex flex-col p-4 bg-white rounded-lg shadow-md">
        @foreach (var (p, index) in listProduk.OrderBy(a => a.price).Distinct().Select((value, i) => (value, i)))
        {
            <div class="flex flex-between justify-start items-center border-b-2 py-2 font-medium text-slate-800 tracking-wide text-sm pilihProduk"
             style="background-color:@(index % 2 == 0 ? "silver" : "white") "
             suppliyer="@p.suppliyer" produkId="@p.product_id" >
                <div class="w-full" style="padding-right:1px">
                    <div class="font-bold">@p.product_name</div>
                    <div class="">
                        @p.product_detail @p.product_syarat @p.product_zona
                    </div>
                    <div>
                        @if (@p.price_suggest > 0)
                        {
                            @rekomendasi; @p.price_suggest.ToString("N0");
                        }
                    </div>
                </div>
                <div class="font-bold">
                    @p.price.ToString("N0")
                </div>
            </div>
        }
    </div>
</div>

<script src="~/mobile/js/pilihProduk.js"></script>