@using Pulsa.Domain.Entities;
@using Pulsa.ViewModel;
@{
    Layout = "_UserLayout";
    var data = (Pengguna_Traksaksi)ViewBag.data;
    var dataProduk = (CariProdukDTO)ViewBag.dataProduk;
    var rekomendasi = "Rekomendasi harga";
}
<br />
<nav class="fixed flex flex-between top-0 left-1/2 -translate-x-1/2 w-full h-10 bg-blue-400 dark:bg-sky-900 max-w-md px-4 space-x-8 z-30">
    <div class="flex flex-col justify-center w-full items-center cursor-pointer hover:text-blue-400 col p-2">
        <strong>Konfirmasi pembelian @ViewBag.produk</strong>
    </div>
</nav>

<div class="mt-4">
    <div class="flex flex-col p-4 bg-white rounded-lg shadow-md">
        <table class="table">
            <tr>
                <td>Tujuan</td>
                <td>@data.tujuan</td>
            </tr>
            <tr>
                <td>Produk</td>
                <td>@dataProduk.product_name</td>
            </tr>
            <tr>
                <td colspan="2">@dataProduk.product_detail @dataProduk.product_syarat @dataProduk.product_zona</td>
            </tr>
            <tr>
                <td>Harga</td>
                <td>@data.harga_jual</td>
            </tr>
            <tr>
                <td>Harga Juan</td>
                <td><input type="number" class="form form-control" value="@ViewBag.hargaJual" id="hargajual" /></td>
            </tr>
            <tr>
                <td>Pembeli</td>
                <td><input type="text" class="form form-control" value="@ViewBag.pembeli" id="pembeli" /></td>
            </tr>
            <tr hidden>
                <td>Lunas</td>
                <td>
                    <input type="radio" name="lunas" value="1">
                    <label>Lunas</label><br>
                    <input type="radio" name="lunas" value="0">
                    <label>Hutang</label><br>
                </td>
            </tr>
            <tr>
                <td>PIN</td>
                <td><input type="text" class="form form-control" id="pin" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-primary" id="beli">Beli</button></td>
            </tr>
        </table>
    </div>
</div>

<script src="~/mobile/js/order.js"></script>